<!DOCTYPE html>
<html>
<head>
  <title>Url Monk Api</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <!-- links -->
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css">
  <link href='https://fonts.googleapis.com/css?family=Dancing+Script|Raleway:400,800' rel='stylesheet'>
  <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/main.css">
  
  <!-- vendor scripts -->
  <script src="/vendor/jquery/dist/jquery.js"></script>
  <script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/vendor/underscore/underscore.js"></script>
  <script type="text/javascript"></script>
  
  <!-- app scripts -->
  <script src="/static/js/app.js"></script>
</head>
<body>
  

  <div id="page-wrapper" class="container">
    <div class="text-container">
      <div class="title">
        <h1><strong>{  URL : MONK  }</strong></h1>
      </div>
      <div class="subtext">
        <h3><strong>CHANGING THE WAY YOU<img class="chrome-img" src="../static/img/chrome.ico"></strong></h3>
      </div>
      <!-- <div class="coming-soon">
        <h3>Coming Soon...</h3>
      </div> -->
  
    </div>
  </div>
</body>
</html>











